<%=raw @page.content_for(:body) %>
<%=raw @page.content_for(:middle_body) %>

<div id="text">
You can add CSS for specific pages by using their slug with -page. The default for the home page is ‘home-page’.<br/>
By adding css to below path,<br/>
/home/mittal/demo_refinery_application/app/assets/stylesheets/home-page.css
</div>
